@{
    ViewData["Title"] = "Welcome";
    ViewData["Message"] = "Check out the new Home Controller Welcome action and its associated view.";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Message"]</p>
