@{
    ViewData["Title"] = "Quote Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quotes</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br>
    <ul>
       <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Quote" asp-action="ShowText">Respond with Text</a></li>
      <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Quote" asp-action="ShowJSON">Respond with JSON</a></li>
      <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Quote" asp-action="ShowHTML">Respond with HTML</a></li>
      <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Quote" asp-action="ShowView">Respond with a view</a></li>
    </ul>
</div>
