@{
    ViewData["Title"] = "Quote in a View";
}
<h1>@ViewData["Title"]</h1>

<p>Here is your quote</p>

  <a class="nav-link text-dark" asp-area="" asp-controller="Quote" asp-action="Index">Go Back to Quotes</a>